{% extends "base.html" %}

{% block login %}
<!--Login Page for exsisting Users-->
<div class="login-page">
    <div class="form">
      <h1 class="log">Login</h1>
      <form method = "POST"class="login-form">
        {% csrf_token %}
        <input type="text" placeholder="Username" name= 'username'/>
        <input type="password" placeholder="Password" name = 'password'/>
        <button type="submit" class="btn fw-bold">Login</button>
        <p >Not registered? <a href="{% url "signup" %}">Create an account</a></p>
      </form>
    </div>
  </div>
  {% endblock%}